# -*- coding: UTF-8 -*-

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'HOST': 'localhost',
        'PASSWORD': '{{ db_password }}',
    }
}

DEBUG = False
TEMPLATE_DEBUG = DEBUG

ALLOWED_HOSTS = [
    '127.0.0.1',
    '192.168.33.16',
    '10.135.22.137', # do2 private
    '188.166.161.151', # do2 public
    'lange-nacht-der-museen.de',
    'm.lange-nacht-der-museen.de',
    'www.lange-nacht-der-museen.de',
    '2016.lange-nacht-der-museen.de',
]
